<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>hudson.util.DoubleLaunchChecker</string>
  </disabledAdministrativeMonitors>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.SecurityRealm$None"/>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${JENKINS_HOME}/fingerprints/jobs_history/${ITEM_FULL_NAME}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>false</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.28"/>
        <hudson.plugins.git.GitBranchSpecifierColumn plugin="git@5.8.1"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>0</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.28">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DisableProjectColumn plugin="extra-columns@1.28">
          <useIcon>true</useIcon>
        </jenkins.plugins.extracolumns.DisableProjectColumn>
      </columns>
      <includeRegex>.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>12.04 precise (hydro)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.28"/>
        <hudson.plugins.git.GitBranchSpecifierColumn plugin="git@5.8.1"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>30</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.28">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DisableProjectColumn plugin="extra-columns@1.28">
          <useIcon>true</useIcon>
        </jenkins.plugins.extracolumns.DisableProjectColumn>
      </columns>
      <includeRegex>ros-hydro.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>14.04 trusty (indigo)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.28"/>
        <hudson.plugins.git.GitBranchSpecifierColumn plugin="git@5.8.1"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>30</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.28">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DisableProjectColumn plugin="extra-columns@1.28">
          <useIcon>true</useIcon>
        </jenkins.plugins.extracolumns.DisableProjectColumn>
      </columns>
      <includeRegex>ros-indigo.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>16.04 xennial (kinetic)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.28"/>
        <hudson.plugins.git.GitBranchSpecifierColumn plugin="git@5.8.1"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>30</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.28">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DisableProjectColumn plugin="extra-columns@1.28">
          <useIcon>true</useIcon>
        </jenkins.plugins.extracolumns.DisableProjectColumn>
      </columns>
      <includeRegex>ros-kinetic.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>18.04 bionic (melodic)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.28"/>
        <hudson.plugins.git.GitBranchSpecifierColumn plugin="git@5.8.1"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>30</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.28">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DisableProjectColumn plugin="extra-columns@1.28">
          <useIcon>true</useIcon>
        </jenkins.plugins.extracolumns.DisableProjectColumn>
      </columns>
      <includeRegex>ros-melodic.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>20.04 focal (noetic)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.28"/>
        <hudson.plugins.git.GitBranchSpecifierColumn plugin="git@5.8.1"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>30</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.28">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DisableProjectColumn plugin="extra-columns@1.28">
          <useIcon>true</useIcon>
        </jenkins.plugins.extracolumns.DisableProjectColumn>
      </columns>
      <includeRegex>ros-noetic.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>22.04 jammy (humble)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.28"/>
        <hudson.plugins.git.GitBranchSpecifierColumn plugin="git@5.8.1"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>30</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.28">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DisableProjectColumn plugin="extra-columns@1.28">
          <useIcon>true</useIcon>
        </jenkins.plugins.extracolumns.DisableProjectColumn>
      </columns>
      <includeRegex>ros-humble.*</includeRegex>
      <recurse>false</recurse>
    </listView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>24.04 noble (jazzy)</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="java.lang.String$CaseInsensitiveComparator" reference="../../../listView/jobNames/comparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <com.robestone.hudson.compactcolumns.JobNameColorColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <showColor>true</showColor>
          <showDescription>true</showDescription>
          <showLastBuild>true</showLastBuild>
        </com.robestone.hudson.compactcolumns.JobNameColorColumn>
        <hudson.views.BuildButtonColumn/>
        <jenkins.plugins.extracolumns.LastBuildConsoleColumn plugin="extra-columns@1.28"/>
        <hudson.plugins.git.GitBranchSpecifierColumn plugin="git@5.8.1"/>
        <com.robestone.hudson.compactcolumns.AllStatusesColumn plugin="compact-columns@1.199.v61a_f51712072">
          <colorblindHint>nohint</colorblindHint>
          <timeAgoTypeString>DIFF</timeAgoTypeString>
          <onlyShowLastStatus>false</onlyShowLastStatus>
          <hideDays>30</hideDays>
        </com.robestone.hudson.compactcolumns.AllStatusesColumn>
        <jenkins.plugins.extracolumns.TestResultColumn plugin="extra-columns@1.28">
          <testResultFormat>0</testResultFormat>
        </jenkins.plugins.extracolumns.TestResultColumn>
        <jenkins.plugins.extracolumns.DisableProjectColumn plugin="extra-columns@1.28">
          <useIcon>true</useIcon>
        </jenkins.plugins.extracolumns.DisableProjectColumn>
      </columns>
      <includeRegex>ros-jazzy.*</includeRegex>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer"/>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
  <nodeRenameMigrationNeeded>false</nodeRenameMigrationNeeded>
</hudson>
